
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Static Blog List Excel Format</h1>
<br />
<a href="/Admin/Blog/ExportStaticExcelBlogList/"class="btn btn-primary" >Download Excel List Format</a>



