@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Ajax Yazar İşlemleri</h1>
<br />
<button type="button" id="btngetgist" class="btn btn-outline-primary">Writer List</button>

<br />
<div id="writerlist">
</div>
<br />
<div>
    <input type="text" id="writerid" placeholder="Writer Id" class="form-control" />
</div>
<button type="button" id="btngetbyid" class="btn btn-outline-success">Writer Fetch</button>
<br />
<div id="writerfetch">
</div>
<br />
<div>
    <input type="text" id="delwriterid" placeholder="Writer Id" class="form-control" />
</div>
<button type="button" id="btndelbyid" class="btn btn-danger">Writer Delete</button>
<br />

<br />
<br />
<div>
    <input type="text" id="addwriterid" placeholder="Writer Id" class="form-control" />
    <input type="text" id="addwritername" placeholder="Writer Name" class="form-control" />
</div>
<button type="button" id="btnwriteradd" class="btn btn-success">Writer Add</button>
<br />

<br />
<br />
<div>
    <input type="text" id="updwid" placeholder="Writer Id" class="form-control" />
    <input type="text" id="updwname" placeholder="Writer Name" class="form-control" />
</div>
<button type="button" id="btnwriterupd" class="btn btn-warning">Writer Update</button>
<br />
@section scripts{
    <script>
        $("#btnwriterupd").click(x => {

            let writer = {
                Id: $("#updwid").val(),
                Name: $("#updwname").val()
            };
            $.ajax({
                type: "put",
                url: "/Admin/Writer/UpdateWriter/",
                data: writer,
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    alert("Yazar Güncellendi");
                }
            });
        });
        $("#btndelbyid").click(x => {

            let id = $("#delwriterid").val();
            // console.log(w);
            $.ajax({
                //contentType: "application/json",
                dataType: "json",
                type: "post",
                url: "/Admin/Writer/DeleteWriter/" + id,
                //data: { writerid: id },
                success: function (func) {
                    //let w = jQuery.parseJSON(func);
                    alert("Yazar Silindi");

                }
            });
        });
        $("#btngetbyid").click(x => {

            let id = $("#writerid").val();
            // console.log(w);
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/GetWriterById",
                data: { writerid: id },
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    console.log(w);
                    let findwriterhtml = "<h1>Writer Found</h1><br /><table class=table table-bordered> <tr> <th> Writer Id</th> <th> Writer Name</th> </tr>";

                    findwriterhtml += `<tr><td>${w.Id}</td><td>${w.Name}</td></tr>`

                    findwriterhtml += "</table>";
                    $("#writerfetch").html(findwriterhtml);

                }
            });



        });


        $("#btngetgist").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList",
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    //console.log(func);
                    let tablehtml = "<h1>Writer List</h1><br /><table class=table table-bordered> <tr> <th> Writer Id</th> <th> Writer Name</th> </tr>";
                    $.each(w, (index, value) => {
                        tablehtml += `<tr><td>${value.Id}</td><td>${value.Name}</td></tr>`
                    });
                    tablehtml += "</table>";
                    $("#writerlist").html(tablehtml);

                }
            });
        });
        $("#btnwriteradd").click(function () {
            let writer = {
                Id: $("#addwriterid").val(),
                Name: $("#addwritername").val()
            };
            $.ajax({
                type: "post",
                url: "/Admin/Writer/AddWriter/",
                data: writer,
                success: function (func) {
                    let w = jQuery.parseJSON(func);
                    alert("Yazar Eklendi");
                }
            });
        });

    </script>
}