@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}



<!DOCTYPE html>
<html lang="zxx">
	<link href="~/DynamicBlog/css/contact.css" rel="stylesheet" type="text/css"/>


<body>

	<!--/main-->
	<section class="main-content-w3layouts-agileits">
<!---728x90--->

		<h3 class="tittle">Contact Us</h3>
		
		<p class="sub text-center">We love to discuss your idea</p>
		<!---728x90--->
		@foreach (var item in Model)
		{
			<div class="contact-map inner-sec">

			<iframe src="@item.AboutMapLocation"
			    class="map" style="border:0" allowfullscreen=""></iframe>
		</div>
		<div class="ad-inf-sec bg-light">
			<div class="container">
				<div class="address row">

					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-map"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Address</h6>
								<p> Hatay, TR

								</p>
							</div>
						</div>

					</div>
					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-envelope"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Email</h6>
								<p><a href="mailto:example@email.com"> dynamicblog@intern.com</a>

								</p>
							</div>

						</div>
					</div>
					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="fas fa-mobile-alt"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Phone</h6>
								<p>+90 555 307 1373</p>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		}
		<div class="container">
			<div class="contact_grid_right">
				<form action="#" method="post">
					<div class="row contact_left_grid">
						<div class="col-md-6 con-left">
							<div class="form-group">
								<label for="validationCustom01 my-2">Name</label>
								<input class="form-control" type="text" name="ContactUserName" placeholder="" required="">
							</div>
							<div class="form-group">
								<label for="exampleFormControlInput1">Email</label>
								<input class="form-control" type="email" name="ContactMail" placeholder="" required="">
							</div>
							<div class="form-group">
								<label for="validationCustom03 my-2">Subject</label>
								<input class="form-control" type="text" name="ContactSubject" placeholder="" required="">
							</div>
						</div>
						<div class="col-md-6 con-right">
							<div class="form-group">
								<label for="textarea">Message</label>
								<textarea id="textarea" name="ContactMessage" placeholder=""></textarea>
							</div>
							<input class="form-control" type="submit" value="Submit">

						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!--//main-->

</body>


<!-- Mirrored from demo.w3layouts.com/demos_new/template_demo/12-04-2018/weblog-demo_Free/158935800/web/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 17 Aug 2022 09:57:24 GMT -->
</html>

