
@{
    ViewData["Title"] = "WriterChartIndex";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<div class="row">
    <div class="col-lg-12">
        <div id="chartdiv" style="width:800px; height:600px">
            Chart
        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(DrawonLoad);

    function DrawonLoad() {
        $(function () {
            $.ajax({
                type: 'GET',
                url: '/Admin/Chart/WriterChart/',
                success: function (chartsdata) {
                    var Data = chartsdata.wchart;
                    var data = new google.visualization.DataTable();

                    data.addColumn('string', 'writername');
                    data.addColumn('number', 'writercount');

                    for (var i = 0; i < Data.length; i++) {
                        data.addRow([Data[i].writername, Data[i].writercount]);
                    }
                    var chart = new google.visualization.PieChart(document.getElementById('chartdiv'));

                    chart.draw(data,
                        {
                            title: "Google Static Chart",
                            position: "top",
                            fontsize: "16px"
                        }
                    );
                }
            });
        });
    }
</script>

