<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">DASHBOARD</h1>

                <h3 class="font-bold no-margins">
                    DynamicBlog
                </h3>
                <small>This project developed with Asp.Net Core and MS SQL Server.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Last Blog</h1>
                <h3 style="text-align: center;" class="font-bold no-margins">
                    <a href="/Blog/BlogDetails/@ViewBag.v2">@ViewBag.v1</a>
                </h3>
                <h5 style="text-align: center;"><a href="/Blog/Index/">All Blogs</a></h5>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">$ 13,666</h1>

                <h3 class="font-bold no-margins">
                    DynamicBlog Web App Income.
                </h3>
                <small>Sales DynamicBlog.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
</div>
