@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "CategoryChange";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Category Update</h1>


<form method="post">
    <div class="form-group">
        <label>Category Id</label>
        <input type="text" name="CategoryID" value="@Model.CategoryID" class="form-control" />
    </div>
    <div class="form-group">
        <label>Category Name</label>
        <input type="text" name="CategoryName" value="@Model.CategoryName" class="form-control" />
    </div>

    <button class="btn btn-info">Update</button>
</form>


